# Python cache
__pycache__/
*.py[cod]

# Virtual environments
myenv/
venv/
.env/

# VSCode
.vscode/

# PyInstaller
build/
dist/
*.spec

# Compiled binaries
*.exe
*.dll
*.so

# Private files
private.*

# Logs
*.log

# OS junk
Thumbs.db
.DS_Store